/* Estilos para el encabezado */
header {
    background-color: #031c25; /* Utilizamos el código de color para celeste cielo */
    padding: 20px; 
}
/* Estilos para los enlaces dentro del encabezado */
header a {
    color: white; 
    text-decoration: none; /* Quitamos la subrayado de los enlaces */
    margin-right: 10px; /* Agregamos un espacio de 10px entre los enlaces */
}
header h1 {
    color: white; /* Cambiamos el color del texto a blanco para mayor contraste con el fondo celeste cielo */
    text-align: center;
    text-decoration: none; /* Quitamos la subrayado de los enlaces */
    margin-right: 20px; /* Agregamos un espacio de 10px entre los enlaces */
}
/* Estilos para el pie de página */
footer {
    background-color: #031c25;
    color: #333;
    padding: 10px;
    width: 100%;
    text-align: center;
}
/* Estilos para los párrafos con clase "texto-blanco" */
.texto-blanco {
    color: white; /* Cambiamos el color del texto a blanco */
}
.texto-azul{
    color: rgba(36, 9, 155, 0.671); /* Cambiamos el color del texto a blanco */
}
/* Estilos para el contenedor de los cuadros */
.contenedor-cuadros {
    display: flex; /* Utilizamos flex para que los cuadros queden en línea uno al lado del otro */
    justify-content: center; /* Centramos los cuadros horizontalmente */
}
/* Estilos para los cuadros */
.cuadro {
    width: 250px; /* Ancho del cuadro */
    background-color: #f7f4f4; /* Color de fondo del cuadro */
    border: 2px solid #afabab; /* Borde del cuadro */
    border-radius: 10px; /* Radio del borde para hacerlo redondeado */
    padding: 10px; /* Espacio interno dentro del cuadro */
    margin: 10px; /* Espacio externo alrededor del cuadro */
    text-align: left; /* Alineamos el texto a la izquierda dentro del cuadro */
}
.cuadro ul {
    display: flex; /* Utilizamos flex para alinear el título horizontalmente con la imagen */
    align-items: center; /* Centramos verticalmente el título y la imagen */
    margin-bottom: 10px; /* Espacio debajo del título para separarlo del texto siguiente */
}
/* Estilos para la imagen dentro del cuadro */
.cuadro img {
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    margin-right: 10px; /* Espacio a la derecha de la imagen para separarla del texto */
}
.contenedor-principal {
    margin: 5.5em; /* Agregamos un margen de 2.5em alrededor del contenido principal */
}
